@import '../../theme/bootstrap.overrides/variables.scss';
.section {
  width:100%;
  .children {
    &.dynamic {
      @media (min-width: $screen-lg-min) {
        column-count: 2;
      }
      // @media (min-width: $screen-llg-min) {
      //     column-count: 3;
      // }
      column-count: 1;
      // column-width: 400px;
      // @media (min-width: $screen-md-min) {
      //   column-count: 2;
      // }
      & > * {
        page-break-inside: avoid;
        break-inside: avoid;
        border-left: 3px solid #ecf2f5;
        padding-left:10px;
        margin-left: 10px;
        margin-bottom: 20px;
      }
    }
  }
}
.sectionHeader {
  display:flex;
  align-items: center;
  &.asToggle {
    cursor: pointer;
  }
  .label {
    color: #7e8ba4;
    letter-spacing: 2px;
  }
  .chevron {
    // flex-grow:0;
    color: $custom4;
    font-size:110%;
    margin-right: 10px;
  }
}

.values {



}
//Need to set height/width to 100% for leaflet to work
.full {
  width:100%;
}


.title {
  color: #7e8ba4;
  letter-spacing: 2px;
  margin-bottom: 7px;
}
