@import '../../theme/bootstrap.overrides/variables.scss';
@import '../Nav/vars.scss';



.panel {
  color:$custom6;
  label {
    font-weight: normal;
  }
  position:fixed;
  left: 0;
  bottom:0;
  top: $navbar-height;
  padding-top: 2px;//to make it look a bit more even, considering the shadow of the navbar
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  width: $panelWidth;
  align-items: stretch;

}

.main {
  flex: 1 1 auto;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}



.section {
    flex-shrink: 0;
    display:flex;
    flex-direction:column;
    white-space: nowrap;
    padding: 6px 6px 6px $panelLeftPadding;
}

.sectionHeader {
  overflow: hidden;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: bold;
  height: 32px;
  flex-shrink: 0;
}
