@import '../../theme/bootstrap.overrides/variables.scss';
@import '../../containers/Nav/vars.scss';
.facetHeader {
  overflow: hidden;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: bold;
  height: 32px;
  flex-shrink: 0;
}
