@import '../../theme/bootstrap.overrides/variables.scss';
@import '../../containers/Nav/vars.scss';
.multiSelect {
  padding-left: 0px;
  label {
    white-space:normal;
    text-align: justify;
  }
}
.option {

  // position:relative;
  &.withBottomSpace {
    margin-bottom:10px;
  }
  &.hasLink label {
    z-index:1000 !important;//consequence: clicking the label won't change the checkbox
    //but, this way we can add urls to the labels
  }
}
.counter {
  color:gray;
  font-size:80%;
  // cursor:default;
  // position:absolute;
}
