@import '../../theme/bootstrap.overrides/variables.scss';

.home {
  padding: 10px;
  width:100%;
  // height:100%;
  @media (min-width: $screen-lg-min) {
    column-count: 2;
  }
  column-count:1;
  column-gap: 1em;
  // column-fill: auto;//causes 1 col in firefox
  & > * {
    //This is VERY strange. I need this float, otherwise the divs might get split up accross columns
    float:left;

    page-break-inside: avoid;
    break-inside: avoid;
  }
  &.singlePage {
    column-count:1 !important;
    height:100%;
  }
}
div.description {
  &:first-child {
    // margin-top: 0px;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.noDescriptionWrapper {
  display: flex;
    justify-content: center;
    width: 100%;
    height:100%;
    align-items: center;
}
.buttons {
  display:none;
  width:100%;
  justify-content: center;
  &.hasNextPage {
    display:flex;
  }
  margin-bottom: 10px
}
