@import '../../theme/bootstrap.overrides/variables.scss';

.wrapper {
  overflow: auto;
}

.extLink,
.language {
  font-size: 12px;
  color: grey;
  visibility: hidden;
  word-break: break-all;
  overflow: hidden;
  white-space: normal;
}

.literal {
  overflow: auto;
}
