.statement {


  //Need to set height/width to 100% for leaflet to work
  &.full {
    width:100%;
  }
  &.dynamic {
    border-left: 3px solid #ecf2f5;
    padding-left:10px;
    margin-left: 10px;
    margin-bottom: 20px;
    // height:100%;
    flex-basis:30%;
  }

  .title {
    color: #7e8ba4;
    letter-spacing: 2px;
    margin-bottom: 7px;
  }
}
