@import '../../theme/bootstrap.overrides/variables.scss';
.plain {
  background-color: $custom3;
}
.console {
  background-color: $custom2;
}
.app {
  height: 100%;
}

:global(.whiteSink) {
  background-color:$custom3;

  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
  padding:20px;
  margin-top:30px;
  margin-bottom:30px;
}
.plain {
  :global(.whiteSink) {
    background-color: #f9f9f9;//just slightly darker than white
  }
}
.disabled {
  background:rgba(0,0,0,0.5);

}
