@import '../../theme/bootstrap.overrides/variables.scss';
@import '../../containers/Nav/vars.scss';
.widgetContainer {
  display: flex;
  position:relative;
  :global(.fa-calendar) {
    align-self: center;
    margin-top: 26px;
    margin-right: 7px;
  }
  :global(.fa-times) {
    position: absolute;
    right: 10px;
    top: 40px;
    position:absolute; //need position absolute, not relative. don't want this el
    //taking up space
    cursor:pointer;
  }
}
.dateFacet {

}
.datePicker{
  // width:100% !important;
  padding-right:10px;
}
