@import '../../theme/bootstrap.overrides/variables.scss';
.provinces {
  width:120px;
  path:hover {
    stroke: lighten($custom4, 2);
    // stroke-width:2px;
    stroke-linejoin: round;
    fill:  lighten($custom4, 2);
    cursor: pointer;
  }
}



.gelderland :global(#gelderland),
.limburg :global(#limburg),
.zeeland :global(#zeeland),
.n-brabant :global(#n-brabant),
.z-holland :global(#z-holland),
.n-holland :global(#n-holland),
.utrecht :global(#utrecht),
.flevoland :global(#flevoland),
.overijssel :global(#overijssel),
.drenthe :global(#drenthe),
.groningen :global(#groningen),
.friesland :global(#friesland)
 {
  stroke: $custom4 !important;
  // stroke-width:2px;
  // stroke-linejoin: round;
  fill: $custom4 !important;
}
