.statement {
  border-left: 3px solid #ecf2f5;
  padding-left:10px;
  margin-left: 10px;
  margin-bottom: 20px;
  height:100%;
  flex-basis:30%;
  .values {

  }
  .title {
    color: #7e8ba4;
    letter-spacing: 2px;
    margin-bottom: 7px;
    // font-variant: small-caps;
  }
  // display:table-row;
  // .pred {
  //   display:table-cell;
  // }
  // .objs {
  //   display:table-cell;
  //   .obj {
  //   }
  // }
}
